// 
// shared styles ------------------------------------------------------
//

.gform_wrapper {
	overflow: inherit;
	margin: 10px 0;
	max-width: 98%
}

.gform_wrapper h1,
.gform_wrapper h2,
.gform_wrapper h3 {
	font-weight: normal;
	border: none;
	outline: none;
	background: none;
}

.gform_wrapper :focus {
	outline: 0;
}

.gform_wrapper form {
	text-align: left;
}

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password] {
	outline-style: none;
	font-size: 11px;
	font-family: inherit;
	padding: 5px 2px 5px 2px;
	letter-spacing: normal;
}

.gform_wrapper input[type=image] {
	border: none !important;
	padding: 0 !important;
	width: auto !important;
}

.gform_wrapper textarea {
	outline-style: none;
	font-size: 11px;
	font-family: inherit;
	letter-spacing: normal;
	padding: 4px 2px 4px 2px;
	resize: none;
}

.gform_wrapper ul {
	margin: 0 !important;
	list-style-type: none;
}

html>body .entry ul,
.gform_wrapper ul {
	text-indent: 0;
}

.gform_wrapper li,
.gform_wrapper form li {
	margin-left: 0 !important;
	list-style-type: none !important;
	list-style-image: none !important;
	list-style: none !important;
	overflow: visible;
}

.gform_wrapper ul li.gfield {
	clear: both;
}

.gform_wrapper ul.gfield_radio li,
.gform_wrapper ul.gfield_checkbox li {
	overflow: hidden;
}

.gform_wrapper ul.right_label li,
.gform_wrapper form ul.right_label li,
.gform_wrapper ul.left_label li,
.gform_wrapper form ul.left_label li {
	margin-bottom: 14px;
}

.gform_wrapper ul.right_label li ul.gfield_radio li,
.gform_wrapper form ul.right_label li ul.gfield_radio li,
.gform_wrapper ul.left_label li ul.gfield_radio li,
.gform_wrapper form ul.left_label li ul.gfield_radio li,
.gform_wrapper ul.right_label li ul.gfield_checkbox li,
.gform_wrapper form ul.right_label li ul.gfield_checkbox li,
.gform_wrapper ul.left_label li ul.gfield_checkbox li,
.gform_wrapper form ul.left_label li ul.gfield_checkbox li {
	margin-bottom: 10px;
}

.gform_wrapper ul li:before,
.gform_wrapper ul li:after,
.gform_wrapper ul.gform_fields {
	padding: 0;
	margin: 0;
	overflow: visible;
}

.gform_wrapper select {
	font-size: 11px;
	font-family: inherit;
	padding: 5px 0 5px 0;
	letter-spacing: normal;
}

.gform_wrapper select option {
	padding: 2px 2px;
	display: block;
}

.gform_wrapper .inline {
	display: inline !important;
}

.gform_wrapper .gform_heading {
	width: 98%;
	margin-bottom: 18px;
}

.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute,
.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	width: 70px;
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	margin-right: 12px;
}

.gform_wrapper .gfield_date_dropdown_month,
.gform_wrapper .gfield_date_dropdown_day,
.gform_wrapper .gfield_date_dropdown_year {
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.gform_wrapper .gfield_date_dropdown_month,
.gform_wrapper .gfield_date_dropdown_day,
.gform_wrapper .gfield_date_dropdown_year {
	margin-right: 6px;
}

.gform_wrapper .gfield_time_ampm {
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.gform_wrapper .gfield_time_ampm select {
	width: 60px !important;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input,
.gform_wrapper .gfield_date_month input,
.gform_wrapper .gfield_date_day input,
.gform_wrapper .gfield_date_year input {
	width: 70% !important;
}

.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	width: 50px;
	float: left;
}

.gform_wrapper .gfield_date_month input,
.gform_wrapper .gfield_date_day input,
.gform_wrapper .gfield_date_year input {
	width: 85% !important;
}

.gform_wrapper .field_hover {
	border: 1px dashed #2175A9;
	cursor: pointer;
}

.gform_wrapper .field_selected {
	background-color: #DFEFFF;
	border: 1px solid #C2D7EF;
}

.gform_wrapper .field_name_first,
.gform_wrapper .field_name_last {
	width: 50%;
	float: left;
}

.gform_wrapper .ginput_complex {
	overflow: hidden;
}

.gform_wrapper .ginput_left input:focus+label,
.gform_wrapper .ginput_right input:focus+label,
.gform_wrapper .ginput_full input:focus+label {
	font-weight: bold;
}

.gform_wrapper .field_name_first input,
.gform_wrapper .ginput_complex .ginput_left input {
	width: 95% !important;
}

.gform_wrapper .field_name_last input {
	width: 93% !important;
}

.gform_wrapper .datepicker {
	width: 100px !important;
}

.gform_wrapper .ginput_complex .ginput_left  {
	width: 50%;
	float: left;
}

.gform_wrapper .ginput_complex .ginput_right {
	width: 49%;
	float: right;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_left,
.gform_wrapper .gfield_error .ginput_complex .ginput_right {
	width: 50%;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=url],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=password] {
	width: 90% !important;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password] {
	width: 95% !important;
}

.gform_wrapper .ginput_complex input[type=text],
.gform_wrapper .ginput_complex input[type=url],
.gform_wrapper .ginput_complex input[type=email],
.gform_wrapper .ginput_complex input[type=tel],
.gform_wrapper .ginput_complex input[type=number],
.gform_wrapper .ginput_complex input[type=password],
.gform_wrapper .ginput_complex select {
	width: 95% !important;
}

.gform_wrapper .ginput_complex .ginput_right input[type=text],
.gform_wrapper .ginput_complex .ginput_right input[type=url],
.gform_wrapper .ginput_complex .ginput_right input[type=email],
.gform_wrapper .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .ginput_complex .ginput_right input[type=number],
.gform_wrapper .ginput_complex .ginput_right input[type=password],
.gform_wrapper .ginput_complex .ginput_right select {
	width: 95% !important;
}

.gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
	display: block;
	margin: 3px 0;
	font-size: 11px;
	letter-spacing: 0.5pt;
}

.gform_wrapper .ginput_complex .name_prefix {
	float: left;
	width: 30px !important;
	margin-right: 14px;
}

.gform_wrapper .ginput_complex .name_suffix {
	float: left;
	width: 30px !important;
}

.gform_wrapper .ginput_complex .name_first,
.gform_wrapper .ginput_complex .name_last {
	float: left;
	width: 100px;
	margin-right: 8px;
}

.gform_wrapper .top_label .gfield_label {
	margin: 10px 0 4px 0;
	font-weight: bold;
	display: -moz-inline-stack;
	display: inline-block;
	line-height: 1.3em;
	clear: both;
}

.gform_wrapper .left_label .gfield_label {
	float: left;
	margin: 0 15px 0 0;
	width: 29%;
	font-weight: bold;
}

.gform_wrapper .right_label .gfield_label {
	float: left;
	margin: 0 15px 0 0;
	width: 29%;
	font-weight: bold;
	text-align: right;
}

.gform_wrapper .left_label ul.gfield_checkbox,
.gform_wrapper .right_label ul.gfield_checkbox,
.gform_wrapper .left_label ul.gfield_radio,
.gform_wrapper .right_label ul.gfield_radio {
	margin-left: 32%;
	overflow: hidden;
}

.gform_wrapper .top_label input.small,
.gform_wrapper .top_label select.small {
	width: 25%;
}

.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium {
	width: 47%;
}

.gform_wrapper .top_label input.medium {
	padding-right: 2px;
}

.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea {
	width: 99.2%;
}

.gform_wrapper .right_label input.small,
.gform_wrapper .right_label select.small,
.gform_wrapper .left_label input.small,
.gform_wrapper .left_label select.small {
	width: 15%;
}

.gform_wrapper .right_label input.medium,
.gform_wrapper .right_label select.medium,
.gform_wrapper .left_label input.medium,
.gform_wrapper .left_label select.medium {
	width: 35%;
}

.gform_wrapper .right_label input.large,
.gform_wrapper .right_label select.large,
.gform_wrapper .left_label input.large,
.gform_wrapper .left_label select.large,
.gform_wrapper textarea.textarea {
	width: 63%;
}

.gform_wrapper .right_label div.ginput_complex,
.gform_wrapper .left_label div.ginput_complex {
	width: 64%;
}

.gform_wrapper h2.gsection_title {
	margin: 0 !important;
	padding: 0 !important;
	letter-spacing: normal !important;
}

.gform_wrapper .gsection .gfield_label,
.gform_wrapper h2.gsection_title,
.gform_wrapper h3.gform_title {
	font-weight: bold;
	font-size: 1.3em;
}

.gform_wrapper h3.gform_title {
	letter-spacing: normal !important;
	margin: 10px 0 6px 0;
}

.gform_wrapper span.gform_description {
	font-weight: normal;
}

.gform_wrapper h2.gsection_title,
.gform_wrapper .gsection_description,
.gform_wrapper h3.gform_title {
	width: 98%;
}

.gform_wrapper .gsection {
	border-bottom: 1px dotted #CCC;
	padding: 0 0 8px 0;
	margin: 16px 0;
	clear: both;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
	width: auto !important;
}

.gform_wrapper .top_label .gfield_error .ginput_container {
	max-width: 99%;
}

.gform_wrapper .top_label .gfield_error {
	width: 97%;
}

.gform_wrapper .top_label .gfield_error input.large,
.gform_wrapper .top_label .gfield_error select.large,
.gform_wrapper .top_label .gfield_error textarea.textarea {
	width: 100%;
}

.gform_wrapper .right_label .gfield_error input.large,
.gform_wrapper .right_label .gfield_error select.large,
.gform_wrapper .right_label .gfield_error textarea.textarea,
.gform_wrapper .left_label .gfield_error input.large,
.gform_wrapper .left_label .gfield_error select.large,
.gform_wrapper .left_label .gfield_error textarea.textarea {
	width: 66%;
}

.gform_wrapper .gfield_error .gfield_label {
	color: #790000;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	margin-top: 12px;
	margin-bottom: 12px !important;
	padding-left: 10px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container  {
	margin-top: 12px;
}

.gform_wrapper div.validation_error {
	color: $error;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.6em;
}

.gform_wrapper div.validation_error {
	color: $error;
	font-size: 1.2em;
	font-weight: bold;
}

div.gf_page_steps+div.validation_error {
	margin-top: 16px;
}

.gform_wrapper div.gfield_description.validation_error {
	color: $error;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 16px;
}

.gform_wrapper .validation_message {
	color: $error;
	font-weight: bold;
	letter-spacing: normal;
}

.gform_wrapper li.gfield_error input[type=text],
.gform_wrapper li.gfield_error input[type=url],
.gform_wrapper li.gfield_error input[type=email],
.gform_wrapper li.gfield_error input[type=tel],
.gform_wrapper li.gfield_error input[type=number],
.gform_wrapper li.gfield_error input[type=password],
.gform_wrapper li.gfield_error textarea {
	border: 1px solid $error;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.gform_wrapper li.gfield_error ul.gfield_checkbox,
.gform_wrapper li.gfield_error ul.gfield_radio {
	color: $error;
}

.gform_wrapper .gform_footer {
	padding: 16px 0 10px 0;
	margin: 16px 0 0 0;
	clear: both;
}

.gform_wrapper .gform_footer.right_label,
.gform_wrapper .gform_footer.left_label {
	padding: 16px 0 10px 31%;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
	font-size: 1em;
}

.gform_wrapper .gform_footer input[type=image] {
	padding: 0;
	width: auto !important;
	background: none !important;
	border: none !important;
}

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_complex .ginput_full {
	min-height: 43px;
	display: block;
	overflow: hidden;
}

.gform_wrapper .ginput_complex .ginput_full input[type=text],
.gform_wrapper .ginput_complex .ginput_full input[type=url],
.gform_wrapper .ginput_complex .ginput_full input[type=email],
.gform_wrapper .ginput_complex .ginput_full input[type=tel],
.gform_wrapper .ginput_complex .ginput_full input[type=number],
.gform_wrapper .ginput_complex .ginput_full input[type=password] {
	width: 97% !important;
}

// 
// descriptions and erros ------------------------------------------------------
//

.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description,
.gform_wrapper .instruction {
	font-size: 0.85em;
	line-height: 1.5em;
	clear: both;
	font-family: sans-serif;
	letter-spacing: normal;
}

.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description {
	padding: 4px 0 8px 0;
}

.gform_wrapper .gfield_description {
	padding: 10px 0 0 0;
	width: 99.8%;
}

.gform_wrapper .left_label .gfield_description,
.gform_wrapper .right_label .gfield_description {
	width: 63%;
}

.gform_wrapper .description_above .gfield_description {
	padding: 0 0 10px 0;
}

.gfield_date_year+.gfield_description {
	padding: 0;
}

.gform_wrapper .right_label .gfield_description,
.gform_wrapper .left_label .gfield_description,
.gform_wrapper .left_label .instruction,
.gform_wrapper .right_label .instruction {
	margin-left: 31%;
}

.gform_wrapper .left_label .gsection .gsection_description,
.gform_wrapper .right_label .gsection .gsection_description {
	margin-left: 0;
	padding-top: 4px;
	padding-left: 0;
	line-height: 1.5em;
}

.gform_wrapper .gfield_required {
	color: $asterix;
	margin-left: 4px;
}

.gform_wrapper textarea.small {
	height: 80px;
}

.gform_wrapper textarea.medium {
	height: 150px;
}

.gform_wrapper textarea.large {
	height: 250px;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: #FFDFE0;
	margin-bottom: 6px !important;
	padding: 6px 6px 4px 6px !important;
	border-top: 1px solid #C89797;
	border-bottom: 1px solid #C89797;
}

// 
// tame those pesky hidden fields ------------------------------------------------------
//


.gform_wrapper input[type=hidden],
.gform_wrapper input.gform_hidden,
.gform_wrapper .gform_hidden,
.gform_wrapper .gf_hidden {
	display: none !important;
	max-height: 1px !important;
	overflow: hidden;
}

.gform_wrapper .ginput_full br,
.gform_wrapper .ginput_left br,
.gform_wrapper .ginput_right br {
	display: none !important;
}

// 
// additional spacing and padding tweaks ------------------------------------------------------
//

.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
	padding: 0 !important;
}

.gform_wrapper ul.gfield_radio li input+input {
	margin-left: 4px;
}

.gform_wrapper ul.gfield_radio li input[value=gf_other_choice] {
	margin-right: 6px;
	margin-top: 4px;
}

.gform_wrapper .top_label .gfield_description, {
	padding: 10px 0 0 0;
}

.gform_wrapper .top_label .gfield_description.validation_message,
.gform_wrapper .gfield_description.validation_message {
	padding: 10px 0 !important;
}

.gform_wrapper .ginput_container + .gfield_description.validation_message {
	margin-top: 6px;
}

.gform_wrapper .gfield_description + .gform_wrapper .gfield_description.validation_message {
	margin-top: 6px;
}

.gform_wrapper .ginput_container.ginput_list + .gfield_description.validation_message {
	margin-top: 0;
}

// 
// ajax forms ------------------------------------------------------
//

.gform_wrapper .gform_ajax_spinner {
	padding-left: 10px;
}
