// 
// HTML field default margins -----------------------------------------------------
//

.gform_wrapper .left_label li.gfield_html_formatted,
.gform_wrapper .right_label li.gfield_html_formatted {
	margin-left: 32%;
}

.gform_wrapper .gfield_html.gfield_no_follows_desc {
	margin-top: 10px;
}

// 
// reset the default list styles for the HTML blocks -----------------------------------------------------------------
//

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li {
	list-style-type: disc !important;
	margin: 0 0 0.5em;
	overflow: visible;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul {
	list-style-type: disc !important;
	margin: 1em 0 1em 1.5em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li {
	list-style-type: decimal!important;
	overflow:visible;
	margin: 0 0 0.5em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol {
	list-style-type: decimal!important;
	margin: 1em 0 1.5em 2.0em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul li {
    list-style-type: disc !important;
    padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul {
	margin: 1em 0 1em 1.5em;
}

body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul li {
	margin: 0 0 0.5em;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl {
	margin: 0 0 1.5em 0;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl dt {
	font-weight: bold;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl dd {
	margin: 0 0 1em 1.5em;
}