// 
// multi-page form paging ------------------------------------------------------
//

.gform_wrapper .gform_page_footer {
	margin: 20px 0;
	width: 99%;
	border-top: 1px dotted #CCC;
	padding: 16px 0 0 0;
}

.gform_wrapper .gform_page_footer .button.gform_button  {
	margin-right: 10px;
}

// 
// multi-page progress bar  ------------------------------------------------------
//

.gform_wrapper .gf_progressbar_wrapper {
	clear: both;
	width: 99%;
	margin: 0 0 8px 0;
	padding: 0 0 16px 0;
	border-bottom: 1px dotted #CCC;
}

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	font-size: 13px;
	line-height: 1em !important;
	margin: 0 0 6px 0 !important;
	padding: 0 !important;
	clear: both;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.gform_wrapper .gf_progressbar {
	width: 99%;
	height: 20px;
	overflow: hidden;
	line-height: 20px !important;
	border: 1px solid #EEE;
	background-image: url(#{$image_path}/gf-percentbar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

.gform_wrapper .gf_progressbar_percentage {
	height: 20px;
	text-align: right;
	font-family: helvetica,arial,sans-serif;
	font-size: 13px !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.50);
}

.gform_wrapper .gf_progressbar_percentage span {
	display: block;
	width: auto;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}

.gform_wrapper .gf_progressbar_percentage.percentbar_0 span {
	color: #959595;
	text-shadow: none;
}

.gform_wrapper .percentbar_blue {
	background-image: url(#{$image_path}/gf-percentbar-blue.png);
	background-repeat: repeat-x;
	background-color: #0072BC;
	color: #FFF;
}

.gform_wrapper .percentbar_gray {
	background-image: url(#{$image_path}/gf-percentbar-gray.png);
	background-repeat: repeat-x;
	background-color: #666;
	color: #FFF;
}

.gform_wrapper .percentbar_green {
	background-image: url(#{$image_path}/gf-percentbar-green.png);
	background-repeat: repeat-x;
	background-color: #94DC21;
	color: #FFF;
}

.gform_wrapper .percentbar_orange {
	background-image: url(#{$image_path}/gf-percentbar-orange.png);
	background-repeat: repeat-x;
	background-color: #DC7021;
	color: #FFF;
}

.gform_wrapper .percentbar_red {
	background-image: url(#{$image_path}/gf-percentbar-red.png);
	background-repeat: repeat-x;
	background-color: #DC2521;
	color: #FFF;
}

.gform_wrapper .percentbar_custom {
	background-image: url(#{$image_path}/gf-percentbar-custom.png);
	background-repeat: repeat-x;
}

// 
// multi-page steps ------------------------------------------------------
//

.gform_wrapper .gf_page_steps {
	width: 99%;
	margin: 0 0 8px 0;
	padding: 0 0 4px 0;
	border-bottom: 1px dotted #CCC;
}

.gform_wrapper .gf_step {
	width: auto !important;
	margin: 0 10px 10px 0;
	font-size: 14px;
	height: 20px;
	line-height: 20px !important;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	font-family: arial,sans-serif;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.gform_wrapper .gf_step span.gf_step_number {
	font-size: 20px;
	float: left;
	font-family: arial,sans-serif;
}

.gform_wrapper .gf_step.gf_step_active {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.gform_wrapper .gf_step_clear {
	display: block;
	clear: both;
	height: 1px;
	overflow: hidden;
}