// 
// password strength indicator -----------------------------------------------------------------
//

.gform_wrapper .gfield_password_strength {
	border: 1px solid #DDD;
	margin: 0;
	padding: 3px 5px;
	text-align: center;
	width: 200px;
	background-color: #EEE;
}

.gform_wrapper .gfield_password_strength.bad {
	background-color: #FFB78C;
	border-color: #FF853C;
}

.gform_wrapper .gfield_password_strength.good {
	background-color: #FFEC8b;
	border-color: #FC0;
}

.gform_wrapper .gfield_password_strength.short,
.gform_wrapper .gfield_password_strength.mismatch {
	background-color: #FFA0A0;
	border-color: #f04040;
}

.gform_wrapper .gfield_password_strength.strong {
	background-color: #C3FF88;
	border-color: #8DFF1C;
}
