// 
// pricing fields ------------------------------------------------------
//

.gform_wrapper .ginput_price {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.gform_wrapper span.ginput_total {
	color: #060;
	font-size: 1.2em;
}

.gform_wrapper .top_label span.ginput_total {
	margin: 8px 0;
}

.gform_wrapper span.ginput_product_price_label {
	margin-right: 2px;
}

.gform_wrapper span.ginput_product_price {
	color: #900
}

.gform_wrapper span.ginput_quantity_label {
	margin-left: 10px;
	margin-right: 2px;
}

.gform_wrapper input.ginput_quantity {
	width: 40px;
}