// 
// radio and checkbox styling - justifies lenghty labels ------------------------------------------------------
//

.gform_wrapper .gfield_checkbox li,
.gform_wrapper .gfield_radio li {
	position: relative;
}

.gform_wrapper ul.gfield_checkbox,
.gform_wrapper ul.gfield_radio {
	margin: 6px 0;
	padding: 0;
}

.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
	display: block;
	margin: 0 0 0 24px;
	padding: 0;
	width: auto;
	line-height: 1.5;
	vertical-align: top;
}

.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio],
.gform_wrapper .gfield_checkbox li input {
	float: left;
	margin-top: 2px;
}

.gform_wrapper .gfield_checkbox li,
.gform_wrapper .gfield_radio li {
	margin: 0 0 8px 0;
	line-height: 1.3em;
}

.gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label,
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label {
    font-weight: bold;
}

.gform_wrapper input.datepicker.datepicker_with_icon {
	margin-right: 4px !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}